
# Descriptive Statistics

In [ ]:
print("PERTEMUAN 02 - PRAKTIKUM 02")
print("==============================")
print("Nama        : Iftitah Hidayati")
print("Kelas       : TI-3H")
print("NIM         : 2041720006")
print("No. Present : 11")
print("==============================")

PERTEMUAN 02 - PRAKTIKUM 02
==============================
Nama        : Iftitah Hidayati
Kelas       : TI-3H
NIM         : 2041720006
No. Present : 11
==============================

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

<h2>Daftar Isi</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#import_data">Melakukan Import Data</a></li>
    <li><a href="#descriptive_statistics">Analisis Descriptive Statistics</a></li>
</ol>

</div>
 
<hr>

<h3> Fitur atau kolom apa yang menjadi karakteristik dari harga mobil?</h3>

<h2 id="import_data">1. Import Data from Module 2</h2>

<h4>Setup</h4>

 Import libraries

In [ ]:
import pandas as pd
import numpy as np

 <p>load data dan menyimpan didalam dataframe df:</p>

In [ ]:
path='/content/drive/MyDrive/Data/PembelajaranMesin/P2/Dataset/data.csv'
df = pd.read_csv(path)
df.head()

,Kecamatan,Kelurahan,Data Penduduk (Jiwa),Jumlah Laki-laki (Jiwa),Jumlah Perempuan (Jiwa),Jumlah KK,Jumlah Pelajar (Jiwa),Rasio Lk:Pr
0,Kademangan,Triwung Kidul,"8,737.00",4307,4430,2623,904,97.223476
1,Kademangan,Kademangan,"8,522.00",4099,4423,2464,2035,92.674655
2,Kademangan,Pohsangit Kidul,"4,844.00",2392,2452,1679,478,97.553018
3,Kademangan,Pilang,"6,352.00",3168,3184,2113,587,99.497487
4,Kademangan,Triwung Lor,"7,945.00",3860,4085,2204,694,94.492044

<h2 id="pattern_visualization">2. Analisis Fitur Individual</h2>

<p>Kita dapat melakukan instalasi seaborn dengan cara berikut</p>

In [ ]:
%%capture
! pip install seaborn

Import visualization packages "Matplotlib" dan "Seaborn", jangan lupa "%matplotlib inline" untuk melakukan plotting pada Jupyter notebook.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


<h4>Pertama-tama kita harus mengetahui jenis-jenis tipe data dari masing-masing variabel</h4>

In [ ]:
print(df.dtypes)

Kecamatan                   object
Kelurahan                   object
Data Penduduk (Jiwa)        object
Jumlah Laki-laki (Jiwa)     object
Jumlah Perempuan (Jiwa)     object
Jumlah KK                    int64
Jumlah Pelajar (Jiwa)        int64
Rasio Lk:Pr                float64
dtype: object

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h3>Pertanyaan  #1:</h3>

<b>Apakah tipe data dari kelima? </b>

</div>

**Jawab :** object

Double-click <b>disini</b> untuk solusinya.

<!--berikut adalah jawabanya:

float64

-->

<p>Kita dapat menghitung korelasi antara variabel int64 dan float64 dengan method corr</p>

In [ ]:
df.corr()

                       Jumlah KK   Jumlah Pelajar (Jiwa)  Rasio Lk:Pr
Jumlah KK                1.000000               0.668565    -0.134930
Jumlah Pelajar (Jiwa)    0.668565               1.000000    -0.344585
Rasio Lk:Pr             -0.134930              -0.344585     1.000000

The diagonal elements are always one; we will study correlation more precisely Pearson correlation in-depth at the end of the notebook.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Pertanyaan  #2: </h1>

<p>Carilah korelasi dari kolom-kolom berikut ini: bore, stroke,compression-ratio , dan horsepower.</p>
<p>Petunjuk anda dapat menggunakan syntax berikut ini: df[['bore','stroke' ,'compression-ratio','horsepower']]</p>
</div>

In [ ]:
# Tulis code anda dan tekan Shift+Enter untuk mengeksekusi
df[['Jumlah Laki-laki (Jiwa)','Jumlah Perempuan (Jiwa)','Jumlah Pelajar (Jiwa)','Rasio Lk:Pr']].corr()

                       Jumlah Pelajar (Jiwa)  Rasio Lk:Pr
Jumlah Pelajar (Jiwa)               1.000000    -0.344585
Rasio Lk:Pr                        -0.344585     1.000000

Double-click <b>disini</b> untuk solusinya.

<!-- The answer is below:

df[['bore', 'stroke', 'compression-ratio', 'horsepower']].corr()  

-->

<h2 id="discriptive_statistics">2. Analisis Descriptive Statistics</h2>
<p> Pertama-tama kita lihat variable yang ada dengan meutilisasi method description</p>

<p>Method <b>describe</b> secara otomatis melakukan komputasi statistik untuk semua continous variable. Seluruh NaN akan ditidak dihitung didalam statistics.</p>

This will show:

<ul>
    <li>the count of that variable</li>
    <li>mean</li>
    <li>standard deviation (std)</li> 
    <li>nilai minimum</li>
    <li>IQR (Interquartile Range: 25%, 50% dan 75%)</li>
    <li>nilai maximum</li>
<ul>

 Kita dapat meutilisasi method "describe" seperti berikut ini:

In [ ]:
df.describe()

        Jumlah KK   Jumlah Pelajar (Jiwa)  Rasio Lk:Pr
count    29.000000              29.000000    29.000000
mean   2560.689655            1585.413793    97.279030
std    1391.565616            1756.004139     2.823784
min     911.000000             197.000000    90.800352
25%    1663.000000             640.000000    95.754091
50%    2204.000000             965.000000    97.592029
75%    2991.000000            1909.000000    99.497487
max    6558.000000            8707.000000   102.452140

Secara default describe melakukan ignore terhada variabel bertype objek. Kita dapat menggunakan method describe pada variable object dengan cara sebagai berikut

In [ ]:
df.describe(include=['object'])

,Kecamatan,Kelurahan,Data Penduduk (Jiwa),Jumlah Laki-laki (Jiwa),Jumlah Perempuan (Jiwa)
count,29,29,29,29,29
unique,5,29,29,29,29
top,Kademangan,Triwung Kidul,"8,737.00",4307,4430
freq,6,1,1,1,1


<h3>Value Counts</h3>
<p>Penghitungan nilai adalah cara yang baik untuk memahami berapa banyak unit dari setiap karakteristik/variabel yang kita miliki. Kita bisa menerapkan metode "value_counts" pada kolom 'drive-wheels'. Jangan lupa metode "value_counts" hanya berfungsi pada seri Pandas, bukan Pandas Dataframes. Sehingga, kita hanya menyertakan satu tanda kurung "df['drive-wheels']" bukan dua tanda kurung "df[['drive-wheels']]".</p>

In [ ]:
df['Jumlah Laki-laki (Jiwa)'].value_counts()

4307     1
2247     1
3,526    1
1,312    1
2558     1
2567     1
1910     1
6054     1
10056    1
5162     1
6495     1
3257     1
4763     1
2811     1
1991     1
4099     1
2547     1
2837     1
3164     1
7366     1
3443     1
2747     1
9517     1
2321     1
4281     1
3860     1
3168     1
2392     1
5,030    1
Name: Jumlah Laki-laki (Jiwa), dtype: int64

Kita dapat melakukan konversi kedalam dataframe dengan cara sebagai berikut :

In [ ]:
df['Jumlah Laki-laki (Jiwa)'].value_counts().to_frame()

       Jumlah Laki-laki (Jiwa)
4307                         1
2247                         1
3,526                        1
1,312                        1
2558                         1
2567                         1
1910                         1
6054                         1
10056                        1
5162                         1
6495                         1
3257                         1
4763                         1
2811                         1
1991                         1
4099                         1
2547                         1
2837                         1
3164                         1
7366                         1
3443                         1
2747                         1
9517                         1
2321                         1
4281                         1
3860                         1
3168                         1
2392                         1
5,030                        1

Mari ulangi langkah di atas tetapi simpan hasilnya ke dataframe "drive_wheels_counts" dan ganti nama kolom 'drive-wheels' menjadi 'value_counts'.

In [ ]:
drive_wheels_counts = df['Jumlah Laki-laki (Jiwa)'].value_counts().to_frame()
drive_wheels_counts.rename(columns={'Jumlah Laki-laki (Jiwa)': 'value_counts'}, inplace=True)
drive_wheels_counts

       value_counts
4307              1
2247              1
3,526             1
1,312             1
2558              1
2567              1
1910              1
6054              1
10056             1
5162              1
6495              1
3257              1
4763              1
2811              1
1991              1
4099              1
2547              1
2837              1
3164              1
7366              1
3443              1
2747              1
9517              1
2321              1
4281              1
3860              1
3168              1
2392              1
5,030             1

Sekarang mari kita ganti nama indeks menjadi 'drive-wheels':

In [ ]:
drive_wheels_counts.index.name = 'Jumlah Laki-laki (Jiwa)'
drive_wheels_counts

                         value_counts
Jumlah Laki-laki (Jiwa)
4307                                1
2247                                1
3,526                               1
1,312                               1
2558                                1
2567                                1
1910                                1
6054                                1
10056                               1
5162                                1
6495                                1
3257                                1
4763                                1
2811                                1
1991                                1
4099                                1
2547                                1
2837                                1
3164                                1
7366                                1
3443                                1
2747                                1
9517                                1
2321                                1
4281                                1
3860                                1
3168                                1
2392                                1
5,030                               1

Kita dapat mengulangi proses di atas untuk variabel 'engine-location'.

In [ ]:
# engine-location as variable
engine_loc_counts = df['Jumlah Perempuan (Jiwa)'].value_counts().to_frame()
engine_loc_counts.rename(columns={'Jumlah Perempuan (Jiwa)': 'value_counts'}, inplace=True)
engine_loc_counts.index.name = 'Jumlah Perempuan (Jiwa)'
engine_loc_counts.head(10)

                         value_counts
Jumlah Perempuan (Jiwa)
4430                                1
2253                                1
3,613                               1
1,327                               1
2545                                1
2609                                1
1917                                1
6004                                1
10290                               1
5685                                1

#### References
Cognitive Class, Data Analysis with Python, Course Number: DA0101EN