# **KELOMPOK 8**

Nama Anggota:

Dawam Ilhami Assidiqi (2041720181 / 03)

Iftitah Hidayati (2041720006 / 11)

Safira istifarini (2041720229 / 17)

Masalah : Banjir menjadi bencana yang sering terjadi

Sebab : Masyarakat yang berada di daerah jauh dari tepi jalan susah mengakses TPS

Akibat : masyarakat membuang sampah di sungai sehingga menjadi penyebab banjir sering terjadi di Indonesia

Solusi : membantu memprediksi fluktuasi sampah yang menjadi penyebab banjir

## **Naive Bayes Gaussian**

In [1]:
import numpy as np
import pandas as pd

# Load data CSV
df = pd.read_csv('data tubes.csv')

# Cek data
display(df.head())

,nama_kabupaten_kota,tahun,jumlah_produksi_sampah_per_tahun,"Terjadi Banjir (1=Ya, 0=Tidak)",jumlah_banjir
0,Kabupaten Pacitan,2017,1511,1,21
1,Kabupaten Ponorogo,2017,419,1,10
2,Kabupaten Trenggalek,2017,100,0,0
3,Kabupaten Tulungagung,2017,1895,1,17
4,Kabupaten Blitar,2017,464,1,7

In [2]:
from sklearn.preprocessing import LabelEncoder

# Inisiasi label encoder
encode = LabelEncoder()

# Terpakan label encoder
df['nama_kabupaten_kota'] = encode.fit_transform(df['nama_kabupaten_kota'])
df['jumlah_produksi_sampah_per_tahun'] = encode.fit_transform(df['jumlah_produksi_sampah_per_tahun'])

df

,nama_kabupaten_kota,tahun,jumlah_produksi_sampah_per_tahun,"Terjadi Banjir (1=Ya, 0=Tidak)",jumlah_banjir
0,17,2017,130,1,21
1,20,2017,91,1,10
2,26,2017,0,0,0
3,28,2017,144,1,17
4,2,2017,93,1,7
...,...,...,...,...,...
185,35,2021,17,1,20
186,34,2021,33,0,0
187,32,2021,139,1,18
188,37,2021,159,1,20
189,29,2021,136,1,10

In [3]:
df.iloc[:,:3]

     nama_kabupaten_kota  tahun  jumlah_produksi_sampah_per_tahun
0                     17   2017                               130
1                     20   2017                                91
2                     26   2017                                 0
3                     28   2017                               144
4                      2   2017                                93
..                   ...    ...                               ...
185                   35   2021                                17
186                   34   2021                                33
187                   32   2021                               139
188                   37   2021                               159
189                   29   2021                               136

[190 rows x 3 columns]

In [4]:
df.iloc[:,3]

0      1
1      1
2      0
3      1
4      1
      ..
185    1
186    0
187    1
188    1
189    1
Name: Terjadi Banjir (1=Ya, 0=Tidak), Length: 190, dtype: int64

In [5]:
# Memisahkan fitur dengan label
X = df.iloc[:,:3]
y = df.iloc[:,3]

In [6]:
# Split data training dan testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=30)

In [7]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Inisiasi obyek MultinomialNB
gnb = GaussianNB()

# Fit model
# Label y harus dalam bentu 1D atau (n_samples,)
gnb.fit(X_train, y_train)

# Prediksi dengan data training
y_train_pred = gnb.predict(X_train)

# Evaluasi akurasi training
acc_train = accuracy_score(y_train, y_train_pred)

# Prediksi test data
y_test_pred = gnb.predict(X_test)

# Evaluasi model dengan metric akurasi
acc_test = accuracy_score(y_test, y_test_pred)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 0.8796992481203008
Hasil akurasi data test: 0.9473684210526315